<div class="panel panel-default">
  <div class="panel-body terminal-output">

  </div>
  <div class="panel-footer">
    <div class="input-group">
      <input type="text" class="form-control terminal-input" placeholder="enter command" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">Enter</span>
    </div>
  </div>
</div>
